body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #ffebf0;
}

.container {
    margin-top: 50px;
}

.envelope {
    position: relative;
    display: inline-block;
    text-align: center;
}

.envelope img {
    width: 200px;
}

.question {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.buttons {
    margin-top: 20px;
}

button {
    background-color: #ff4d79;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #ff3355;
}

.gif {
    margin-top: 20px;
    width: 150px;
}
img {
    max-width: 100%; /* Evita que la imagen sea más grande que su contenedor */
    height: auto; /* Mantiene la proporción */
    display: block;
    margin: 0 auto; /* Centra la imagen */
}

.photos img {
    width: 300px; /* Ajusta el tamaño específico para las fotos en felicitacion.html */
    height: auto; 
    border-radius: 10px; /* Bordes redondeados opcionales */
    margin: 10px;
}

